<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    {{>metaLinks}}
</head>
<body>
   

   {{>navbar}}
     
      <!----main header---->

       <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!---left side div-->
                 <!---right side div-->
             <div class="col-md-6 col-12 main_header_right align-items-center">

              <figure>
                <img src="images/about.png" width=300 height =500 alt="img" class="img-fluid" title="dev image">
              </figure>
             
             </div>
             <div class="col-md-6 col-12 main_header_left">
                <p>Welcome to the weather app</p>
                <h1>I am a <span class="text_clr">Mern Stack Developer</span></h1>
                <a href="/about" target="_blank"><button>About me</button></a>
             </div>
            </div>
              
            </div>
        </div>
    </div>
    <!---footer--->
    {{>footer}}
</body>
</html>